.hero-left {
  display: flex;
  justify-content: flex-start;
  font-family: Chlorinar, sans-serif;
}

.hero-right {
    display: flex;
    justify-content: flex-end;
    font-family: Anurati, sans-serif;
}

.simple-list {
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    padding: 0;
    margin-left: 0.5em;
}

.simple-list li {
    list-style-type: square;
    color: #E84118;
}

.simple-list li span {
    color: #000000;
}

.simple-list-header {
    font-weight: bold;
    color: #000000;
}

.game-title {
    font-family: Chlorinar, sans-serif;
}

.question {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
}

.answer {
    font-style: italic;
    margin: 0;
    padding: 5px;
}