.hero-left {
  display: flex;
  justify-content: flex-start;
  font-family: Chlorinar, sans-serif;
}

.hero-right {
    display: flex;
    justify-content: flex-end;
    font-family: Anurati, sans-serif;
}

.simple-list {
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    padding: 0;
    margin: 0;
}

.simple-list li {
    list-style-type: square !important;
    color: #E84118 !important;
}

.simple-list li > span {
    color: #000000;
}

.game-title {
    font-family: Chlorinar, sans-serif;
}
