@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Anurati';
    src: url('../fonts/Anurati-Regular.otf');
}

@font-face {
    font-family: 'Chlorinar';
    src: url('../fonts/Chlorinar-WyWz.ttf');
}